
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background: #f5f9fc;
  line-height: 120px; /* Vertically center the text there */
}

.logo-footer {
  color: #12126c;
}

#backToTop {
  background: #12126c;
  color: #fff;
}