.spot-nav-underline {
  border-bottom: 2px solid #12126c;
  //border-radius: 100%;
}

.nav-tabs {
  border: none;
}

.spot-name {
  font-weight: 900;
}

.spot-heading {
  margin-bottom: 20px;
}

#spot-nav-links .nav-item .active {
  font-weight: 900;
  text-decoration: underline;
  border-style: groove;
  border-color: inherit;
}

.today-data{
  font-size: 16px;
}

.description-toggle:hover {
  cursor:pointer;
  text-decoration: underline;
}

.spot-card {
  width: 18rem;
}

.pointer{
  cursor: pointer
}

.no-border {
  border: none;
}

.review-setup {
  margin-bottom: 15px;
  padding: 5px;
}

.reviews {
  margin-bottom: 10px;
  font-size: 16px;
}

.review {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  background: #e9ebee;
}

@media screen and (max-width: 992px){
  .all-spot-card{
    margin: 3px;
  }
}

@media screen and (max-width: 575px){
  .spot-card, .all-spot-card {
    margin: auto;
  }
}